//-----------------------------------------------------------------------------
// Generic Animations
//-----------------------------------------------------------------------------
@keyframes bounce-5px {
    from { top: 0px; }
    50% { top: -5px; }
    to { top: 0px; } 
}

@keyframes bounce-3px {
    from { top: 0px; }
    50% { top: -3px; }
    to { top: 0px; } 
}