//-----------------------------------------------------------------------------
// Variables
//-----------------------------------------------------------------------------
// Colors
$background-color: #f1f1f1;
$main-color: #ef3b3b;
$sub-color: #a43a3a;
$contrast-color: #f3c0c0;
$complementary-color: #5339cf;
$complementary-sub-color: #3a298b;
$notification-color: #ffe38e;

// Fonts
$font-quicksand: 'Quicksand', sans-serif;
$font-pacifico: 'Pacifico', cursive;

// Medias
$media-small-pc: 1300px;
$media-tipping-point: 1000px; // Tipping point between "desktop" and "mobile"
$media-small-mobile: 700px;