<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{lang.jp}}</title>
    <meta name="description" content="{{lang.jp_about}} | {{lang.jp_version}}"/>

    <!-- Style -->
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css"/>
    <!--<meta name="theme-color" content=""/>-->

    <!-- Libs & fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand:400,700" rel="stylesheet"/>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Javascript -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/modules/ui.js')}}"></script>
    <script src="{{url_for('static', filename='js/modules/lang.js')}}"></script>
    <script src="{{url_for('static', filename='js/modules/status.js')}}"></script>
    <script src="{{url_for('static', filename='js/modules/groceries.js')}}"></script>
    <script src="{{url_for('static', filename='js/modules/products.js')}}"></script>

    <!-- Favicon -->
    <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon" type="image/png"/>

</head>

<body class="{{body_class}}">

    <!-- Header -->
    <header>
        <figure class="animated-logo">
            <a href="#" title="{{lang.jp}} : {{lang.jp_about}}">
                <img src="{{url_for('static', filename='img/jp_logo_top_500x.png')}}" class="top" alt=""/>
                <img src="{{url_for('static', filename='img/jp_logo_middle_500x.png')}}" class="middle" alt=""/>
                <img src="{{url_for('static', filename='img/jp_logo_bottom_500x.png')}}" class="bottom" alt=""/>
            </a>
            {% if body_class == 'login' %}
            <h1><i>J</i>ean-<i>P</i>ierre</h1>
            <h2>- the grocery list bot -</h2>
            {% endif %}
        </figure>
    </header>

    {% if body_class != 'login' %}
    <!-- Nav -->
    <nav>
        <div class="handle">
            <img src="{{url_for('static', filename='img/menu.png')}}" alt="Menu"/>
        </div>
        <ul>
            <li><a href="{{url_for('groceries')}}">Grocery list</a></li>
            <li class="sub">
                <a href="#" class="raw_list">- Export</a>
            </li>
            <li><a href="{{url_for('products')}}">Products list</a></li>
            <li><a href="{{url_for('logout')}}">Log out</a></li>
            <li class="close"><a href="#">Close menu</a></li>
        </ul>        
    </nav>
    {% endif %}
    

    <!-- START - Main-container -->
    <div class="maincontainer">