{% include "_header.html" %}

<h2>{{lang.web_groceries_title}}</h2>

<!-- Grocery list menu -->
<div class="menu">

    <h4>{{lang.web_groceries_menu_title}}</h4>

    <form class="add">
        <select name="add_product">
            <option value="">{{lang.web_groceries_menu_pick}}</option>
            {% for barcode,infos in products_list.items() %}
                {% if infos.name != '???' %}
                <option value="{{barcode}}">{{infos.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button>OK</button>
    </form>
</div>

<!-- Items list -->
<div class="items">
</div>

{% include "_footer.html" %}