{% include "_header.html" %}

<h2>{{lang.web_products_title}}</h2>

<!-- Products list menu -->
<div class="menu">

    <h4>{{lang.web_products_menu_title}}</h4>

    <form class="add">
        <input class="half" type="text" name="barcode" placeholder="{{lang.ean13}}" maxlength="13" required/>
        <input class="half" type="text" name="name" placeholder="{{lang.product_name}}" maxlength="32" required/>
        <button>OK</button>
    </form>

</div>

<!-- Items list -->
<div class="items">
</div>

{% include "_footer.html" %}